.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
  
    /* Add the blur effect */
    filter: blur(3px);
  -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgba(232, 235, 233, 0.747);
    font-weight: bold;
    border: 3px solid rgba(243, 243, 243, 0.801);
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .card{
    background-color: #6F7373;
  }
  .cuerpo{
    background-color: #87c2e9 !important;
  }