<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" defaultHref="/home" routerDirection="forward"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Mi Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-grid>
    <ion-row>
      <ion-col > 
        <ion-item class="tomos" text-center routerLink="/mis-volumenes" routerDirection="forward">
          <div style="width:100%;text-align: center">{{len_volumenes}}  Tomos</div>
          
        </ion-item>
      </ion-col>
      <ion-col> 
        <ion-item class="pendientes" text-center routerLink="/mispendientes" routerDirection="forward">
          <div style="width: 100%; text-align: center">{{len_pendientes}}   Pendientes</div>
        </ion-item>
      </ion-col>
      <ion-col> 
        <ion-item class="colecciones" text-center routerLink="/miscolecciones" routerDirection="forward">
          <div style="width: 100%; text-align: center">{{len_colecciones}}   Colecciones</div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<br>
<div>
  <ion-list>
    <ion-item routerLink="/mis-volumenes" routerDirection="forward"> 
      <strong>Volúmenes</strong>
    </ion-item>
  </ion-list>
</div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor = "let x of datos">
        <img src="{{x.portada}}" (click)="this.proveedor.setData(x)" routerLink="/mis-volumenes-card" routerDirection="forward"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<br>
<div>
  <ion-list>
    <ion-item routerLink="/mispendientes" routerDirection="forward"> 
      <strong>Pendientes</strong>
    </ion-item>
  </ion-list>
</div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor ="let x of datos2">
        <img src="{{x.portada}}" (click)="this.proveedor.setData(x)" routerLink="/mis-volumenes-card" routerDirection="forward"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
