.tomos{
    --background: #79E2B0;
    color: white;
}

.colecciones{
    --background: #6BD4D2;
    color: white;
    width: 50%;
    text-align: center;
    left: 80px;
}

.pendientes{
    --background: #F4BC53;
    color: white;
    text-align: center;
}

.matriz{
    height: 80px;
}

