.myview{
    background: url("../../assets/login.jpg") !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
}

.label{
    border: 1px solid #02ACF2
}

.text{
    text-align: center !important; 
}