<ion-app>

<ion-header translucent>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="titulo_pag">
      Ikari
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content padding>
<div>
  <div><ion-toolbar>
    <ion-searchbar color="light" animated placeholder="Buscar manga" routerLink="/search" routerDirection="forward"></ion-searchbar>
  </ion-toolbar>
  </div>
</div>
<div>
  <ion-button class="btn_inicio" (click)="intermediaria_Page()" [routerLink]="['/intermediaria']" routerDirection="forward" >
    <ion-icon slot="start" name="library" ></ion-icon>
    Mi Biblioteca
  </ion-button>
  
  <ion-button (click)="novedades_Page()" [routerLink]="['/novedades']" routerLinkActive="router-link-active"  style="--background:#28ba62" class="btn_inicio_nov" >
    Novedades
    <ion-icon  slot="start" name="newspaper"></ion-icon>
  </ion-button>
</div>
<br>
<div>
  <ion-list>
    <ion-item> 
      <strong>Lista de deseados</strong>
    </ion-item>
  </ion-list>
</div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor = "let x of lista_pendientes">
        <img src="{{x.portada}}"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
</ion-app>
